body {
    background: #eee;
}

form {
    border: 1px solid peru;
    padding: 10px;
    margin: 30px auto;
    width: 600px;
    position: relative;
    background-color: ivory;
    border-radius: 10px;
    color: darkslategray;
    box-shadow: -2px 3px 0.8em darkslateblue;
}

label {
    font-size: 20px;
    font-weight: bold;
    margin: 0 auto 0 20px;
}

textarea,
input:not([type='submit']) {
    padding: 5px 10px;
    width: 60%;
    margin: 10px 30% 30px 10%;
    border: 2px solid darkcyan;
    box-shadow: 0 0 0.5em cornflowerblue;
}

textarea,
input {
    border-radius: 15px;
    background: rgba(200, 200, 200, 0.7);
}

textarea:focus,
input:not([type='submit']):focus {
    border-radius: 15px;
    background: rgba(220, 220, 220, 0.7);
    box-shadow: 0 0 0.5em 1px cornflowerblue;
}

input[type='submit'] {
    padding: 10px;
    margin: 10px 30px auto;
    font-weight: bold;
    box-shadow: -2px 3px 0.5em 1px darkslategray;
}

input[type='submit']:focus {
    box-shadow: -2px 3px 0.8em 2px darkslategray;
}

textarea:hover,
input:not([type='submit']):hover {
    border-radius: 15px;
    background: rgba(220, 220, 220, 0.7);
    box-shadow: 0 0 0.5em 1px cornflowerblue;
}

input[type='submit']:hover {
    box-shadow: -2px 3px 0.8em 2px darkslategray;
}

.invalid_state {
    box-shadow: 0 0 0.5em 1px lightcoral !important;
}
